@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --primary: rgba(28, 6, 104, 1);
  --secondary: rgba(252, 204, 68, 1);
  --tertiary: rgba(235, 253, 237, 1);
  --white: rgba(255, 255, 255, 1);
  --lightGray: whitesmoke;
  --midGray: #cacaca;
  --darkGray: #272727;
  --danger: #ff3d3d;
  --font-primary: "Roboto", sans-serif;
  --font-system: system-ui;
  --borderRadius: 10px;
}
