@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary: rgba(28, 6, 104, 1);
  --secondary: rgba(252, 204, 68, 1);
  --tertiary: rgba(140, 230, 214, 0.5);
  --white: rgba(255, 255, 255, 1);
  --lightGray: whitesmoke;
  --midGray: #cacaca;
  --darkGray: #272727;
  --danger: #ff3d3d;
  --font-primary: "Roboto", sans-serif;
  --font-system: system-ui;
  --borderRadius: 10px;
}
