.btn_main {
  background: var(--secondary);
  color: var(---white);
  padding: 1.2em 3em;
  border-radius: var(--borderRadius);
  background: var(--secondary);
  font-size: 1em;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
