.explainer {
  margin: 2em auto;
  width: 100%;
  //   background: url("../../images/hero-bg.jpg");
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;

  .box {
    margin: 0 2em;
    width: 600px;

    p {
      margin: 0.5em 0;
      padding: 0 0.5em;
    }
  }

  .slider_wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .swiper {
      width: 230px;
      height: 420px;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--borderRadius);
    }

    .swiper-slide:nth-child(1n) {
      background: url("../../images/amazon-h.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(2n) {
      background: url("../../images/paypa.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(3n) {
      background: url("../../images/niks.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(4n) {
      background: url("../../images/xbox.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(5n) {
      background: url("../../images/payp.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(6n) {
      background: url("../../images/paypa.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(7n) {
      background: url("../../images/paypa.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(8n) {
      background: url("../../images/paypa.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(9n) {
      background: url("../../images/paypa.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }

    .swiper-slide:nth-child(10n) {
      background: url("../../images/paypa.png");
      background-size: contain;
      background-repeat: no-repeat;
      object-fit: cover;
      width: fit-content;
    }
  }
  .explainer_slider_wrap {
    width: 400px;
  }
}
