.how_to_sell {
  background: var(--lightGray);
  width: 100%;
  .content_wrap {
    padding: 2em 0;
    .title {
      margin: 0;
      text-align: center;
      text-transform: capitalize;
    }

    .lead {
      text-align: center;
    }
    .how_to_wrap {
      .box {
        width: 400px;
        margin: 0.5em auto;
        padding: 2em 1em;

        li {
          list-style: none;
          font-size: 1.2em;
        }

        p {
          //   font-size: 1em;
          //   line-height: 1.5em;
        }

        @media (min-width: 1280px) {
          width: 600px;
        }
        @media (max-width: 640px) {
          width: 400px;
        }
      }
    }
  }
}
