.page_header_cont {
  height: fit-content;
  width: 100%;
  margin-top: -100px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images//hero-bg.jpg") center center;

  .header_content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 2.5em;
    padding-top: 4em;
    padding-left: 0.5em;

    @media (min-width: 1280px) {
      .text_content {
        margin-top: 6em;
      }
    }

    .title {
      //   color: rgba(255, 255, 255, 1);
      //   font-size: 3em;
      //   font-weight: 700;
      //   line-height: 1.4em;
      //   width: 100%;
      //   padding: 0;
      //   margin: 0;

      @media (min-width: 1280px) {
        margin-top: 1em;
      }
      @media (min-width: 640px) {
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;
      }
    }

    .lead {
      color: rgba(217, 213, 251, 1);
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.9rem;

      @media (min-width: 640px) {
        padding-left: 0px;
        padding-right: 0px;
        text-align: left;
      }
    }

    .box {
      width: 500px;
      padding-top: 3em;
      overflow-x: hidden;
    }

    .hero_btn {
      margin-left: 15px;
      background: var(--secondary);
      padding: 1em 3em;
      color: #fff;
      font-size: 1em;
      border-radius: 10px;
      width: 250px;

      @media (min-width: 1280px) {
        margin-bottom: 5em !important;
        margin-left: 0;
      }
    }
  }

  .img_content {
    background-position: center;
    @media (min-width: 1280px) {
      margin-top: 2em;
    }

    img {
      margin: 0 auto;
      width: 100%;
      z-index: 900;
      height: 100%;
      background-position: 100%;
      -webkit-filter: drop-shadow(2px 2px 2px rgba(3, 3, 3, 0.5));
      filter: drop-shadow(2px 2px 2px rgba(3, 3, 3, 0.5));
    }
  }
}
