.calc_cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .title {
    text-align: center;
  }

  .lead {
    text-align: center;
    margin-top: 0;
  }

  form {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 2em 1.5em;
    background-color: var(--primary);
    border-radius: var(--borderRadius);
    margin-bottom: 2em;

    @media (min-width: 1280px) {
      width: 600px;
    }

    .calc_inp_wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .inp_box {
        width: 100%;
        @media (min-width: 1280px) {
          width: 47%;
          margin: 0.3em;
        }
        @media (max-width: 640px) {
          width: 400px;
          margin: 0.3em;
        }

        select {
          width: 100%;
          padding: 1.3em 0.8em;
          border: transparent;
          border-radius: 5px;
        }
      }
    }

    .calc_result {
      width: 95%;
      margin: 1em auto;

      .result {
        width: 90%;
        height: auto;
        color: #000;
        font-size: 1.5em;
        font-weight: 700;
        font-family: var(--font-family);
        background: var(--tertiary);
        border-radius: 5px;

        h4 {
          padding: 0.5em 1em;
          font-size: 1.2em;
          font-weight: 400;
        }
      }
    }

    button {
      padding: 1em 0;
      font-size: 1.2em;
      margin: 1em auto;
      width: 50%;
      background: var(--secondary);
      color: var(--white);
      border-radius: var(--borderRadius);
      border: none;
    }
  }
}
