.reviews {
  position: relative;
  height: 100%;
  margin-bottom: 5em;
  margin-top: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.review {
  display: flex;
  flex-direction: column;

  blockquote {
    p {
      font-size: 0.9em;
      line-height: 1.4em;
    }
  }

  .reviewer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    padding-bottom: 1em;
  }

  i {
    padding-left: 1em;

    &::before {
      content: "- ";
    }
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
