.service_section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;

  .airtime {
    background-color: rgba(235, 253, 237, 1);
  }

  .pay {
    background-color: rgba(235, 253, 237, 1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    width: fit-content;
    object-fit: cover;
  }

  .redeem {
    background-color: rgba(235, 253, 237, 1);
    // background-image: url("../../images/redeem-rope.png");
  }

  .transfer {
    background-color: rgba(235, 253, 237, 1);
  }

  .box {
    height: 600px;
    width: 400px;
    padding: 1.5em 1em;
    overflow: hidden;
    border-radius: 1em;
    margin: 1em;
    position: relative;
    background-position: 105%;
    background-repeat: no-repeat;

    .service_btn {
      color: #fff;
      padding: 1em 3em;
      border-radius: 10px;
      background: #f7be21;
      font-size: 1em;
    }

    .text_cont {
      text-align: center;

      .title {
        margin-top: 1em;
        font-size: 2em;
        text-transform: capitalize;
        font-weight: 600;
      }
    }

    .img_cont {
      display: flex;
      justify-self: center;
      align-self: center;
      margin: 1.5em auto;

      img {
        width: 300px;
        margin: 0 auto;
        z-index: 1000;
      }
    }
  }
}
