.support {
  width: 100%;
  margin-top: 2em;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0 !important;

  .box {
    width: 600px;
  }

  .support-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1em 1.5em;

    h3 {
      text-align: start;
      margin: 0;
    }

    p {
      padding: 0;
      font-size: 1.2em;
      line-height: 1.5em;
    }

    a {
      text-decoration: none;
    }

    .support_btn {
      text-decoration: none;
      color: var(--white);
      background: var(--secondary);
      padding: 1em 0.5em;
      width: 250px;
      height: 50px;
      font-size: 15px;
      text-align: center;
    }
  }

  .img_wrap {
    img {
      width: 100%;
    }
  }
}
